{% extends 'base.html.twig' %}

{% block body %}
    <h2>Clubs</h2>
    <div>
    {{ form(form) }}
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for club in clubs %}
                <tr>
                    <td>{{ club.id }}</td>
                    <td>{{ club.name }}</td>
                    <td>{{ club.manager }}</td>
                    <td>{{ club.firstDescription }}</td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No clubs</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
